.tartanbook {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.vendors-page {
    .filters {
        max-width: 500px;
        margin: 0 auto 15px auto;
    }
    .vendor {
        position: relative;
        color: #fff;
        background: rgba(64, 84, 100, .8);
        padding: 15px;
        margin-bottom: 30px;
        h2 {
            width: calc(100% - 60px;)
        }
        .image-container {
            float: left;
            width: 30%;
            padding-top: 25%;
            overflow: hidden;
        }
        .meta {
            float: right;
            width: calc(70% - 30px);
        }
        .meta {
            &.links {
                img {
                    margin-right: 20px;
                }
            }
        }
        .like-btn {
            position: absolute;
            top: 15px;
            right:15px;
            i {
                font-size: 40px;
                color: pink;
            }
        }
    }
}