@import "variables";

footer {
    padding: 60px 0;
    text-align: center;
    background: $tartan-blue;
    color: $white;
    a, a:visited {
        color: $tartan-pink;
    }
    .logo {
        width: 90%;
        max-width: 400px;
    }
    nav {
        margin: 30px auto;
        li {
            display: inline-block;
            list-style: none;
            padding-left: 15px;
            padding-right: 15px;
            font-size: 20px;
            color: #fff;
        }
    }
    .sign-out {
        cursor: pointer;
        &:hover {
            color: $tartan-pink;
        }
    }
}

@media screen and (max-width: 800px) {
    
}
