* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    background-image: url("/pink_rice.png");
    .center {
        text-align: center;
    }
    select {
        font-size: 14px!important;
    }
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
}