.tartanbook {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto; }
  .tartanbook .filters {
    max-width: 500px;
    margin: 0 auto 15px auto; }
  .tartanbook .vendor {
    color: #fff;
    background: rgba(64, 84, 100, 0.8);
    padding: 15px;
    margin-bottom: 30px; }
    .tartanbook .vendor .image-container {
      float: left;
      width: 30%;
      padding-top: 25%;
      overflow: hidden; }
    .tartanbook .vendor .meta {
      float: right;
      width: calc(70% - 30px); }
