footer {
  padding: 60px 0;
  text-align: center;
  background: #405464;
  color: #fff; }
  footer a, footer a:visited {
    color: pink; }
  footer .logo {
    width: 90%;
    max-width: 400px; }
  footer nav {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%); }
    footer nav li {
      float: left;
      list-style: none;
      padding-left: 45px;
      font-size: 20px;
      color: #fff; }
