header {
  background: #405464;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px 20px 5px 20px;
  z-index: 9; }
  header h1 {
    font-size: 36px;
    font-family: 'Roboto Slab', serif;
    color: #fff; }
  header .logo {
    width: 315px;
    margin-top: 3px;
    margin-bottom: 8px;
    /*  @else if $point == baby-bear {
    @media (max-width: 600px)  { @content; }
  } */ }
    @media only screen and (max-width: 550px) {
      header .logo {
        width: 85%;
        max-width: 315px; } }
  header nav {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    /*  @else if $point == baby-bear {
    @media (max-width: 600px)  { @content; }
  } */ }
    header nav li {
      float: left;
      list-style: none;
      padding-left: 45px;
      font-size: 18px;
      font-weight: 700;
      color: #fff; }
    @media only screen and (max-width: 800px) {
      header nav {
        display: none; } }
  header .mobile-menu-icon {
    display: none;
    color: #fff;
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: 15px;
    transform: translateY(-55%);
    cursor: pointer;
    /*  @else if $point == baby-bear {
    @media (max-width: 600px)  { @content; }
  } */ }
    @media only screen and (max-width: 800px) {
      header .mobile-menu-icon {
        display: block; } }
