

.tartanbook {
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

/* OO CSS */




.vendor {
  color: #fff;
  background: rgba(0, 0, 0, .95);
  padding: 15px;
  margin-bottom: 30px;
}

.image-container {
  width: 30%;
  padding-top: 25%;
  overflow: hidden;
}



select {
  font-size: 14px!important;
}