* {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tartanbook {
  padding: 20px;
  max-width: 1000px;
  margin: 30px auto;
}

/* OO CSS */
.center {
  text-align: center;
}

.filters {
  min-width: 500px;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.vendor {
  color: #fff;
  background: rgba(0, 0, 0, .95);
  padding: 15px;
  margin-bottom: 30px;
}

.image-container {
  width: 30%;
  padding-top: 25%;
  overflow: hidden;
}

body {
  background-image: url("/tartan_bkg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}

header {
  background: #405464;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  padding: 10px 20px 5px 20px;
}
header h1 {
  font-size: 36px;
  font-family: 'Roboto Slab', serif;
  color: #fff;
}
select {
  font-size: 14px!important;
}